html {
	height: 100%;
	width: 100%; 
	overflow: hidden;
	scroll: none;
}

body{
    background-color: rgb(235,235,235);
    /* background-color: #2F5363; */
	overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
   
}

h1 {
    font-family: Creepster, Helvetica, sans-serif;
    font-size: 140px;
    color: darkorange; 
    margin-left: 80px;
    margin-top: -10px;
    transition: font 2s;

}

h1:hover {
    font-size: 160px;
}



#alphabet {
    grid-row: 3;
    grid-column: 2 / span 2;
}

.flex-container {
    border: black solid 2px;
    background-color: darkgray;
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;
    padding: 15px 15px 15px 45px;
   
}

li {
    background-color: black;
    color: white;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 2px;
}

li:hover {
    border: orange solid 2px;
    height: 56px;
    width: 56px;
}

#hangman {
    grid-row: 2;
    grid-column: 3;
} 

#hangman .base {
    background-color: black;
    height: 2px;
    width: 200px;
    margin: 0px;
}

#hangman .middle-bar {
    background-color: black;
    height: 200px;
    width: 2px;
}

#hangman .top-bar {
    background-color: black;
    height: 2px;
    width: 130px;
    float: top;
}

#hangman .hold-bar {
    background-color: black;
    height: 20px;
    width: 2px;
    margin-left: 130px;
    margin-bottom: -20px;
}

#hangman .head1 {
    background-image: url(/Users/ab60241/Desktop/Skeleton/Skelly1.png);
    background-size: auto 100%;
    height: 30px; 
    width: 25px; 
    margin-left: 115px;
    margin-top: -180px;
}

#hangman .head1 {
    background-image: url(/Users/ab60241/Desktop/Skeleton/Skelly1.png);
    background-size: auto 100%;
    height: 30px; 
    width: 30px; 
    margin-left: 115px;
    margin-top: -180px;
    visibility: hidden;
}

#hangman .body2 {
    background-image: url(/Users/ab60241/Desktop/Skeleton/Skelly2.png);
    background-size: auto 100%;
    height: 50px; 
    width: 30px; 
    margin-left: 110px;
    visibility: hidden;
}

#hangman .right-arm3 {
    background-image: url(/Users/ab60241/Desktop/Skeleton/Skelly3.png);
    background-size: auto 100%;
    height: 40px; 
    width: 30px; 
    margin-left: 140px;
    margin-top: -80px;
    visibility: hidden;
}

#hangman .left-arm4 {
    background-image: url(/Users/ab60241/Desktop/Skeleton/Skelly4.png);
    background-size: auto 100%;
    height: 40px; 
    width: 30px; 
    margin-left: 85px;
    margin-top: -40px;
    visibility: hidden;
}

#hangman .lowerbody5 {
    background-image: url(/Users/ab60241/Desktop/Skeleton/Skelly5.png);
    background-size: auto 100%;
    height: 20px; 
    width: 25px; 
    margin-left: 115px;
    margin-top: 40px;
    visibility: hidden;
}

#hangman .left-leg6 {
    background-image: url(/Users/ab60241/Desktop/Skeleton/Skelly6.png);
    background-size: auto 100%;
    height: 60px; 
    width: 20px; 
    margin-left: 100px;
    visibility: hidden;   
}

#hangman .right-leg7 {
    background-image: url(/Users/ab60241/Desktop/Skeleton/Skelly7.png);
    background-size: auto 100%;
    height: 60px; 
    width: 20px; 
    margin-left: 130px;
    margin-top: -60px;
    visibility: hidden;
}

#userInputs  {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.spanHolder {
    font-size: 30px;
    margin: 0 10px;
    letter-spacing: 15px;
    background-color: lightgray;
    border-bottom: thin solid black;
    display: inline-block;
}

/* span {
    visibility: hidden;    
} */

#lettersBin {
    grid-row: 2;
    grid-column: 4;
    height: 80%;
    width: 80%;
    border: black solid 2px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

p {
   font-size: 40px;
}

.spider {
    grid-row: 3;
    grid-column: 1;
	height: 40px;
	width: 50px;
	border-radius: 50%;
	margin: 40px 0 0 0;
    background: #110D04;
    transition: 1s;
}

.spider:hover {
    margin: 30px 0 0 0;
}

.spider2 {
    grid-row: 3;
    grid-column: 1;
	height: 40px;
	width: 50px;
	border-radius: 50%;
	margin: 40px 0 0 200px;
    background: #110D04;
    transition: 1s;
}

.spider2:hover {
    margin: 30px 0 0 200px;
}

.spider3 {
    grid-row: 3;
    grid-column: 1;
	height: 40px;
	width: 50px;
	border-radius: 50%;
	margin: 100px 0 0 100px;
    background: #110D04;
    transition: 1s;
}

.spider3:hover {
    margin: 80px 0 0 100px;
}

.eye {
    top: 16px;
    height: 14px;
    width: 12px;
    margin-top: 5px;
    margin-left: 14px;
	background: #FFFFFF;
	border-radius: 50%;
}

.eye2 {
    top: 16px;
    height: 14px;
    width: 12px;
    margin-left: 24px;
    margin-top: -13px;
	background: #FFFFFF;
	border-radius: 50%;
}

.pupil {
    top: 6px;
	height: 5px;
    width: 5px;
    margin-top: -10px;
    margin-left: 16px;
	border-radius: 50%;
	background: black;
}

.pupil2 {
    top: 6px;
	height: 5px;
    width: 5px;
    margin-top: -5px;
    margin-left: 26px;
	border-radius: 50%;
	background: black;
}

.web {
    top: -10px;
    height: 850px; 
    width: 2px;
    margin-left: 25px;
    margin-top: -860px;
    background: black;  
}

.leg1 {
    top: 6px;
	height: 12px;
	width: 25px;
    border-top: 3px solid #110D04;
    border-radius: 50%;
    z-index: -1;
    margin-left: -18px;
}

.leg2 {
    top: 6px;
	height: 12px;
	width: 25px;
    border-top: 3px solid #110D04;
    border-radius: 50%;
    z-index: -1;
    margin-left: 45px;
    margin-top: -13px;
}

.leg3 {
    top: 6px;
	height: 12px;
	width: 25px;
    border-top: 3px solid #110D04;
    border-radius: 50%;
    z-index: -1;
    margin-left: -18px;
}

.leg4 {
    top: 6px;
	height: 12px;
	width: 25px;
    border-top: 3px solid #110D04;
    border-radius: 50%;
    z-index: -1;
    margin-left: 45px;
    margin-top: -13px;
}

button {
    background-color: darkorange;
    color: black;
    font-size: 25px;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.75);
    height: 50px;
    width: 200px;
    grid-column: 4;
    transition: 1s;
}

button:hover {
    font-size: 27px;
    height: 52px;
    width: 205px;
}